<IfModule mod_rewrite.c>
    RewriteEngine on

    # Ensure .env is not accessible
    <FilesMatch "^\.env">
        Order allow,deny
        Deny from all
    </FilesMatch>

    # Redirect requests to public folder
    RewriteCond %{REQUEST_URI} !^public
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

# Disable directory browsing
Options -Indexes
